%center
  %h6.pad User Panel
- if current_user
  = link_to('Sign out', destroy_user_session_path, :method => :delete, :class => "btn")
- elsif current_admin
  = link_to('Sign out', destroy_admin_session_path, :method => :delete, :class => "btn")
- else
  = form_tag user_session_path do
    = text_field_tag 'user[email]'
    = password_field_tag 'user[password]'
    .inline= label_tag 'user[remember_me]', 'Remember me'
    .inline= check_box_tag 'user[remember_me]'
    %p
    %button Sign in
  = link_to "Forgot your password?", new_password_path('user')
  = link_to('Register', new_user_registration_path)
