.navbar
  .navbar-inner
    .container
      %ul.nav
        %li= link_to "Home", root_path
        %li= link_to "Sonrise Blog", posts_path
        %li= link_to "About Us", home_founders_path
        %li= link_to "Ministries", home_orphanage_path
        %li= link_to "Contact Us", home_invite_path
        %li= link_to "Products", root_path
        %li= link_to "Donate", home_donations_path
        - if current_admin
          %li= link_to('Sign out', destroy_admin_session_path, :method => :delete)
          %li= link_to "Edit Site", elements_path
