.large-4.columns.hero-text
  .text.one
    = link_to "Daily prophetic word from the Lord specifically for you!", posts_path
  .text.two
    = link_to "We have FIVE books available to help build your faith!", home_support_path
  .text.three
    = link_to "Consider becoming a partner today and support the ministry!", home_products_path
.large-8.columns.hero-image
  .images
    .image
      = link_to image_tag("1.png"), home_products_path
    .image
      = link_to image_tag("2.png"), posts_path
    .image
      = link_to image_tag("3.png"), home_support_path

= content_for :javascripts do
  :javascript
    $(".one").click(function(){
      window.location = "#{posts_path}";
    });
    $(".two").click(function(){
      window.location = "#{home_support_path}";
    });
    $(".three").click(function(){
      window.location = "#{home_products_path}";
    });
