.contact-heading
  %h4
    - if @element && @element.title.present?
      = @element.title.html_safe
    - else
      Contact Us
  .row
    .large-10.columns
      - if @element && @element.body.present?
        = @element.body.html_safe
      - else
        Please contact us for scheduling speaking arrangements, purchasing of books, or if you have any questions for Apostle Charlie or Dr. Durinda Warren and Set Free by Jesus Ministries.
.contact-form
  = form_tag contact_path do
    .row
      .large-12.columns
        = label_tag "Name *"
        = text_field_tag "contact[name]"
      .large-12.columns
        = label_tag "Email *"
        = email_field_tag "contact[email]"
      .large-12.columns
        = label_tag "Subject *"
        = text_field_tag "contact[subject]"
      .large-12.columns
        = label_tag "Message *"
        = text_area_tag "contact[message]", nil, :rows => 5 
      .large-12.columns
        = submit_tag "Submit", :class => "button secondary tiny"
