.row
  .span12
    = render 'slider'
.row
  .span8
    .box.pad_left
      .row
        %center
          %h1.title Welcome
        .span5
          .inner_box
            = render 'welcome'
        .span2
          = image_tag('pastors.png', :class => "imgshadow")

  .span4
    .box.pad_right
      .row
        .span4
          %center
            .inner_box.top= render 'shared/login'
          %br
          .inner_box.bottom#worship_times= render 'shared/worship_times'

.row.spacer
  .span12
    .box.pad_left.pad_right
      %center
        %h1.title Coming Attractions
      .box.pad
        = render 'coming_attractions'
