.products
  %h3
    %b Products
  %hr
  .block
    .row
      .large-9.columns
        %h5
          %b My Sheep Hear My Voice! (2014)
          (10.99 + s/h)
        %ul
          %li Do I believe in modern-day Prophetic Gifts?
          %li Wasn't that just for the "Early Church" Prophets?
          %li Didn't they "pass away" with the "last Apostle"?
          %li Do Believers really "still hear" the voice of Jesus today?
          %li Should I deeply desire to hear His voice? Why? How?
          %li Maybe I already have prophetic gifts "asleep" in me?
          %li Should I want to "wake them up"? Why? When? How?

        This book offers real Bible answers to your above real questions. It teaches you how to “Release” the Prophetic Gifts that are already inside you!  It brings you into a new Abundant Life—Living IN JESUS—as you talk to Him and hear HIS voice daily!  FAVOR!  FAVOR!  FAVOR!
      .large-3.columns
        = image_tag("sheep.png")

  %hr

  .block
    .row
      .large-3.columns
        = image_tag("adventures.png")
      .large-9.columns
        %h5
          %b ADVENTURES IN GOD-FAITH! (2012)
          (7.99 + s/h)
        Jesus wants us to dwell or abide in His presence (John 14:20).  Further, He commands us to have the faith of God (Mark 11:22). The purpose of this book is to convey these truths so simply that children can understand.  This is the first GOD-FAITH Adventure book in a series.

  %hr

  .block
    .row
      .large-9.columns
        %h5
          %b TROUBLESHOOTING YOUR FAITH! (2009)
          (10.99 + s/h)
        %p Are you struggling with the real-life manifestation of GOD-FAITH?
        %p Be encouraged! Holy Spirit desires to lead you on a mission to search out and destroy barriers that prevent you from accessing and operating in GOD-FAITH!
        %p This book provides the tools you need!
      .large-3.columns
        = image_tag("troubleshooting.png")

  %hr

  .block
    .row
      .large-3.columns
        = image_tag("God-Faith2.jpg")
      .large-9.columns
        %h5
          %b GOD-FAITH! (2009)
          (10.99 + s/h)
        %p Do you want more of God’s power and presence?   Jesus commands us to live IN Him (John14:20) and have the faith OF God (Mark 11:22)!
        %p GOD-FAITH! Will show you how!  It reveals the simple steps of faith—believe, speak, expect, activate and receive—that enable us to access the faith of God:  GOD-FAITH!

  %hr

  .block
    .row
      .large-9.columns
        %h5
          %b Victory in Jesus (1994)
          (10.99 + s/h)
        %ul
          %li Have you ever asked yourself, "Why can't I have 'Victory in Jesus' every day? Why      must I always feel like a Christian Yo-Yo?"
          %li Does your walk with the Lord sometimes seem to go up and down like a spiritual      roller coaster?
          %li Have you ever prayed: "Dear Lord, I need your help! I feel like the devil's punching      bag. I want to walk a consistent 'Victory in Jesus'. Help, Holy Spirit, help!"?
        %p Well, this book will help you answer these tough questions for yourself.
        %p This is a true, heart-warming story of an ordinary Christian family, one just like yours.  We were tested by fire.  But through it all, we learned to exchange our old spiritual roller coaster for a brand new lifestyle of “Victory in Jesus”!
        %p It contains five easy lessons that will help you walk a totally new walk of daily, consistent “Victory in Jesus.”  The devil has no right to beat you down!
      .large-3.columns
        = image_tag("vij.png")
