.page
  .large-12.columns
    = render 'content'
  %hr
  .large-12.columns
    %h2.left Son-Rise Blog
    = link_to "New Post", new_post_path, :class => "button success right"
    %hr
  - @posts.each_with_index do |post, index|
    .large-12.columns
      - unless index == 0
        %hr
    .large-1.columns
      .circle
        .date
          .show-for-large-up
            .day= link_to post.created_at.strftime("%e"), post
            .month= link_to post.created_at.strftime("%^b"), post
            .year= link_to post.created_at.strftime("%y"), post
          .hide-for-large-up
            = link_to post.created_at.strftime("%B"), post
            = link_to "#{post.created_at.strftime("%e")},", post
            = link_to post.created_at.strftime("%Y"), post
    .large-11.columns
      .blog-post-title
        .bold= link_to post.name, post
        = link_to truncate(strip_tags(post.text), :length => 220, escape: false), post

  .large-12.columns
    %hr
    = paginate @posts
