.page
  .large-12.columns
    = render 'content'
  .large-12.columns
    %h2 Son-Rise Blog
    %hr
  - @posts.each_with_index do |post, index|
    .large-12.columns
      - unless index == 0
        %hr
    .large-1.columns
      .circle
        .date
          .ppw
            .show-for-large-up
              = "#{params[:page].present? ? params[:page] : 1}-#{index + 1}"
            .hide-for-large-up
              %span.bold= link_to "#{params[:page].present? ? params[:page] : 1} - #{index + 1} : ", post
              %span.pad-left= link_to post.name, post
    .large-11.columns
      .blog-post-title
        = link_to truncate(strip_tags(post.text), :length => 220, escape: false), post

  .large-12.columns
    %hr
    = paginate @posts
