.body_white
  %h1 Sonrise Blog

  .post.row
    .span12
      - @posts.each do |post|
        %center
          %h3.purple= post.name
        = post.text
        = post.user_id
        = link_to 'Show', post

  %br

  = link_to 'New Post', new_post_path
