.posts
  .large-12.columns
    %h1 Sonrise Blog
  %hr
  - @posts.each_with_index do |post, index|
    .large-12.columns
      - unless index == 0
        %hr
    .large-1.small-2.columns
      .circle
        .date
          .day= link_to post.created_at.strftime("%e"), post
          .month= link_to post.created_at.strftime("%^b"), post
          .year= link_to post.created_at.strftime("%y"), post
    .large-11.small-10.columns
      .blog-post-title
        %h4= link_to post.name, post
        = link_to truncate(strip_tags(post.text), :length => 220, escape: false), post

  .large-12.columns
    %hr
    = paginate @posts
