.posts
  .large-12.columns
    %h2.left= link_to "Son-Rise Blog", posts_path
    - if current_admin
      .right.pad-left= link_to 'Edit', edit_post_path(@post), :class => "button yellow tiny"
    .right= link_to 'Back', posts_path, :class => "button secondary tiny"
  .row
    .large-12.columns
      %h4.purple-header= @post.name

  .post
    .large-12.columns
      = @post.text.html_safe
    .row
      .large-12.columns
        %p.hr
        %center
          .post_footer= "Posted By: #{@post.admin.username} | #{@post.created_at.strftime("Published on %D")}"

