.body_white.pad
  %center
    %h1.purple= @post.name

  .post.row
    .span10.offset1
      = @post.text.html_safe
      %p
      %center
        .post_footer= "Posted By: #{@post.admin.username} | #{@post.created_at.strftime("Published on %m/%d/%Y at %I:%M%p")}"

  %br

  - if current_admin
    = link_to 'New Post', new_post_path
