.row
  .large-4.columns.center
    Copyright &#169;
    = Time.now.year
    = "-"
    All Rights Reserved.
  .large-4.columns.center
    - if current_admin
      = link_to "Content", admin_elements_path, :class => "button tiny secondary"
      = link_to "Admin Panel", rails_admin_path, :class => "button tiny yellow"
      = link_to "Sign Out", destroy_admin_session_path, :method => :delete, :class => "button tiny warning"
    - else
      = link_to "Set Free by Jesus Ministries", new_admin_session_path
  .large-4.columns.center
    = link_to "Site designed by Burton MPR, LLC", "http://www.burtonmpr.com"

