%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1
        = image_tag("logo.png")
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right
      %li= link_to "Home", root_path
      %li= link_to "About Us", home_about_us_path
      %li= link_to "Son-Rise Blog", posts_path
      %li= link_to "Ministries", home_ministries_path
      %li= link_to "Products", "#"
      %li= link_to "Support", home_support_path
      %li= link_to "Contact", home_contact_path
.hr

