<!DOCTYPE html>
<html lang="en">
<head>
  <title>Setfreebyjesus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <%= render 'shared/login' %>

    <% if notice %>
      <p class="notice alert-message info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-message warning"><%= alert %></p>
    <% end %>
    <%= yield %>
    <br class="clear">

  </div>

</body>
</html>
