<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Set Free by Jesus" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="row main">
      <div class="large-12 columns nopad">
        <%= render 'layouts/nav' %>
        <%= render 'layouts/notifications' %>
        <%= yield %>
      </div>
    </div>
    <div class="row footer">
      <div class="large-12 columns">
        <%= render 'layouts/footer' %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
    <%= yield :javascripts %>
  </body>
</html>
