!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  = render '/refinery/head'
  = render 'layouts/fonts'
%body
  .page-content
    %header
      .row
        .large-12.columns
          .large-6.columns
            .logo
              Set Free by Jesus
          .large-6.columns
            .welcome
              = Refinery::Page.find_by_title("Home").parts.find_by_title("Side Body").body.html_safe
      .row
        .large-12.columns
          .row
            = render 'shared/navbar'
    %section
      .row
        .large-9.columns
          .large-12.columns
            - if alert
              .alert.alert-message= alert
            - if notice
              .notice.alert-message= notice
            = yield
        .large-3.columns
          = render 'shared/sidebar'
  .footer-content
    %footer
      .row
        .large-12.columns
          .large-12.columns
            = render '/refinery/footer'

= javascript_include_tag "application"
= yield :javascripts
