<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Set Free by Jesus</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="page">
      <div class="container main">

        <%= render 'shared/navbar' %>

        <div class="row special">
          <div class="span12">
            <div class="row">
              <div class="span6 offset5">
                <div class="scripture pull-right"><%= render 'shared/header_text' %></div>
              </div>
              <div class="span1">
              </div>
            </div>
          </div>
        </div>

        <% if notice %>
          <p class="notice alert-message info"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-message warning"><%= alert %></p>
        <% end %>
        <%= yield %>
        <br class="clear">

        <center>
          <div class="row">

            <div class="span6">
              <div class="box pad_left">
                <h4><div class="title">Latest Discussions</div></h4>
              </div>
            </div>

            <div class="span6">
              <div class="box pad_right">
                <h4><div class="title">Sonrise Blog</div></h4>
              </div>
            </div>

            <div class="row footer">
              <div class="span4">
                <%= link_to image_tag('church.png', :class => "imgshadow"), root_path %>
              </div>
              <div class="span4">
                <%= link_to image_tag('blogd.png', :class => "imgshadow"), posts_path %>
              </div>
              <div class="span4">
                <%= link_to image_tag('register.jpg', :class => "imgshadow"), new_user_registration_path %>
              </div>
            </div>

          </div>
        </center>

      </div>
    </div>

  </body>
</html>
